*{

}

.dot {

}

.arrow-up{
    width: 0; 
    height: 0; 
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;

    border-bottom: 500px solid;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }

.frame{
    background-color:rgb(100, 189, 99);
    margin: 5px;
    padding: 15px;
}

.centerh{
    display: flex;
    align-self: center;
    justify-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav h1{
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

header {
    grid-area: he;
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 112, 47);
}

footer {
    background-color: rgb(48, 112, 47);
    grid-area: fo;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reviewspage{
    display: grid;
    grid-template-areas: 
    'he he he'
    '.. s1 ..'
    '.. rs ..'
    '.. s0 ..'
    'fo fo fo';
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 20% 45% 10% 10%;
    margin: 5px;
    gap: 5px;
    height: 100vh;
}

#scrolling_reviews{
    grid-area: rs;
    background-color: rgb(48, 112, 47);
}

#bottomsection{
    grid-area: s0;
    background-color: rgb(48, 112, 47);
}


#menupage{
    display: grid;
    grid-template-areas: 
    'he he he'
    '.. s1 ..'
    'sa sa sa'
    'sb sb sb'
    'fo fo fo';
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 15% 55% 15% 5%;
    margin: 5px;
    gap: 5px;
}

#section2_menu{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-area: sa;
    background-color: rgb(48, 112, 47);
    gap: 5px;
    padding: 10px;
}

#section2_menu_1{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 65% 35%;
    background-color:  rgb(48, 112, 47);
    gap: 5px;
}

#section2_menu_2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    background-color:  rgb(48, 112, 47);
    gap: 5px;
}

#section3_menu{
    grid-area: sb;
    background-color: rgb(48, 112, 47);
}

.textwidgets{
    background-color: rgb(100, 189, 99);
    width: 300px;
    height: 70px;
    justify-self: center;
    align-self: center;
}

#section2_menu_1 img{
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: center;
}

#section2_menu_2 img{
    width: 150x;
    height: 150px;
    justify-self: center;
    align-self: center;
}


#homepage {
    display: grid;
    grid-template-areas: 
    'he he he'
    '.. s1 ..'
    's2 s2 s2'
    's3 s3 s3'
    'fo fo fo';
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 15% 35% 35% 5%;
    gap: 10px;
}

#section1 {
    grid-area: s1;
    background-color:  rgb(48, 112, 47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#gridsection2 {
    background-color: rgb(48, 112, 47);
    grid-area: s2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#gridsection2 article {
    align-self: center;
    justify-self: center;
    background-color:  rgb(100, 189, 99);
    gap: 10px;
    padding: 10px;
    width: 300px;
    height: 250px;
}

#gridsection3 {
    grid-area: s3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(48, 112, 47);
    gap: 10px;
    padding-top: 10px;
}

#gridsection3 img {
    height: 325px;
    width: 325px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

#gridsection3 article {
    align-self: center;
    justify-self: center;
    width: 250px;
    height: 200px;
    padding: 10px;
    background-color: rgb(100, 189, 99);
}